---
---

@import "minima";

.text_value {
  color: #FF00EC;
}

.text_key {
    color: #00FFFF;
}

.text_username {
    color: #9B9B9B
}

.text_script {
    color: #1EFF00
}

text_trustuser {
    color: #FF8000
}