---
---

@import "minima";

@font-face {
    font-family: "White Rabbit";
    src: url("../assets/whiterabbit-webfont.ttf");
}

body {
    background-color: #1a1a1a !important;
    color: #ffffff !important;
    font-family: "White Rabbit", sans-serif !important;
}

a {
    color: #006fff !important;

    a:visited {
        color: #005eda !important;
    }

    a:hover {
        color: #008eff !important;
    }
}

.site-title, .site-title:visited {
    color: #ffffff !important;
}

.page-link, .page-link:visited {
    color: #ffffff !important;
}

.text_value {
    color: #ff00ec;
}

.text_key {
    color: #00ffff;
}

.text_username {
    color: #9b9b9b;
}

.text_script {
    color: #1eff00;
}

.text_trustuser {
    color: #ff8000;
}

.text_gcq {
    color: #ff0000;
}

.text_gct {
    color: #ff00ec;
}

.text_gcb {
    color: #fff404;
}

.text_gcm {
    color: #1eff00;
}

.text_gck {
    color: #00ffff;
}

.text_gc {
    color: #9b9b9b;
}

.text_success {
    color: #1eff00;
}

.text_failure {
    color: #ff0000;
}

.table-of-contents {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.table-of-contents > hr {
    margin-top: 4px;
    padding-bottom: 5px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
}

.table-of-contents > p, ul, ol {
    margin-bottom: 0px;
}

.post-content > h1 {
    @include relative-font-size(2.5);
}

table {
    width: 50px !important;
    color: #d0d0d0 !important;
    background-color: #1f1f1f !important;
}

table tr {
    background-color: #202020 !important;
}

table th {
    background-color: #3a3a3a;
}

code {
    background-color: #1a1a1a !important;
}

.highlight {
    background: #1a1a1a !important;
}

.post-title {
    margin-bottom: 0px;
}

.source-link {
    @include relative-font-size(0.85);
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 2px 2px 0px #507aa1;
    text-decoration: underline;
}

.dropbtn {
    background-color: #1a1a1a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: "White Rabbit", sans-serif !important;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    font-family: "White Rabbit", sans-serif !important;
    position: absolute;
    min-width: 160px;
    background-color: #1a1a1a;
    // this 0.2 SHOULD have a space in front of it but the autocoloring plugin for some reason tries to color inside css files
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0,0.2);
    z-index: 1;
}

.dropdown-content a {
    line-height: 2;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 2px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: #222;
}

.sidebar {
    height: 100%;
    max-width: 300px;
    background-color: #1a1a1a;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
    top: 0;
    left: 0;
    padding-top: 90px;
    padding-left: 20px;
    box-shadow: 2px 2px 0px #bbb;
}

@media screen and (max-width: 600px) {
    .site-nav {
        background-color: #2a2a2a;
    }

    .dropbtn {
        background-color: #2a2a2a;
        display: block;
    }

    .dropdown-content {
        text-align: left;
        overflow: hidden;
        right: 0;
        left: auto;
    }

    .sidebar {
        display: none;
    }
}

@media screen and (max-width: 1400px) {
    .sidebar {
        display: none;
    }
}
