---
---

@import "minima";


@font-face {
  font-family: "White Rabbit";
  src: url("../assets/whiterabbit-webfont.ttf");
}

body {
    background-color: #111111 !important;
    color: #ffffff !important;
    font-family: "White Rabbit", sans-serif !important;
}

a {
    color: #006fff !important;
    
    a:visited {
        color: #005eda !important;
    }
    
    a:hover {
        color: #008eff !important;
    }
}

.site-title, .site-title:visited {
    color: #ffffff !important;
}

.page-link, .page-link:visited {
    color: #ffffff !important;
}

.text_value {
  color: #FF00EC;
}

.text_key {
    color: #00FFFF;
}

.text_username {
    color: #9B9B9B
}

.text_script {
    color: #1EFF00
}

.text_trustuser {
    color: #FF8000
}

.text_gcq {
    color: #FF0000
}

.text_gct {
    color: #FF00EC
}

.text_gcb {
    color: #FFF404
}

.text_gcm {
    color: #1EFF00
}

.text_gck {
    color: #00FFFF
}

.text_gc {
    color: #9B9B9B
}

.text_success {
    color: #1EFF00
}

.text_failure {
    color: #FF0000
}