---
const [ user, name ] = Astro.props.name.split(".")
---

<span style="font-family: White Rabbit, monospace">
	<span style="color: #9B9B9B">{user}</span>.<span style="color: #1EFF00">{name}</span>
</span>
