@font-face {
	font-family: "White Rabbit";
	src: url("./assets/white-rabbit.ttf")
}

body {
	background-color: #101215;
	color: #7AB2F4
}

h1, h2, h3, h4, h5, h6 {
	font-family: "White Rabbit", monospace
}
